.monthIncome {
    background-color: green;
    color: #fff;
}

.monthexpenses {
    background-color: yellow;
     color: rgb(0, 0, 0);
}

.month {
    margin: 80px auto;
}

.ditMonth {
     margin: 80px !important;
}